<div class="loom-card"{{{testidAttr}}}{{{styleAttr}}}>{{#if hasTitle}}<div class="loom-card-title">{{{titleText}}}</div>{{/if}}{{#if hasContent}}<div class="loom-card-content">{{{contentJsx}}}</div>{{/if}}</div>
