{{#if isMulti}}<div class="flex flex-col gap-2"{{{testidAttr}}} aria-hidden="true">
{#each Array.from({ length: {{count}} }) as _unused, i (i)}
<Skeleton size="md" />
{/each}
</div>{{else}}<Skeleton size="md"{{{testidAttr}}} aria-hidden="true" />{{/if}}