node_modules/
out/
*.log
*.tsbuildinfo
.DS_Store
.vscode/
.idea/
syntaxes/
test-output/
test-results/
coverage/
vscode/node_modules/
vscode/out/
vscode/server/
vscode/syntaxes/
vscode/*.vsix
docs/_site/
