<KeyValueRow label="{{label}}">
{{#each voFields}}          <Text fontSize="sm"><Text as="span" color="gray.500">{{humanLabel}}: </Text><span data-testid="{{testId}}">{String({{{valueExpr}}})}</span></Text>
{{/each}}        </KeyValueRow>