<%!-- primitive-key-value-row --%>
<div class="flex flex-col sm:flex-row sm:gap-4">
  <dt class="text-sm font-medium text-gray-500 sm:w-40 sm:flex-shrink-0"><%= @label %></dt>
  <dd class="text-sm text-gray-900"><%= @value || "—" %></dd>
</div>
