<%!-- primitive-table --%>
<div class="overflow-hidden rounded-lg border border-base-300 shadow-sm">
  <div class="overflow-x-auto">
    <table class="table table-zebra w-full">
      <%= @inner_content %>
    </table>
  </div>
</div>
