<span class="inline-block h-10 w-10 overflow-hidden rounded-full bg-muted"{{{testidAttr}}}>{{#if hasSrc}}<img class="h-full w-full object-cover" src={{{src}}}{{#if hasAlt}} alt={{{alt}}}{{else}} alt=""{{/if}} />{{/if}}</span>
