{{#if isMulti}}<div class="flex flex-col gap-2"{{{testidAttr}}} aria-hidden="true">
<Skeleton v-for="__i in {{count}}" :key="__i" class="h-7 rounded-sm" />
</div>{{else}}<Skeleton class="h-7 rounded-sm"{{{testidAttr}}} aria-hidden="true" />{{/if}}
