<KeyValueRow label="{{label}}">
{{#each voFields}}          <Text size="sm"><Text component="span" c="dimmed">{{humanLabel}}: </Text><span data-testid="{{testId}}">{String({{{valueExpr}}})}</span></Text>
{{/each}}        </KeyValueRow>
