<div class="loom-field">{{#if labelText}}<label class="loom-field-label">{{{labelText}}}</label>{{/if}}<input type="file" class="loom-field-input"{{{testidAttr}}} />{{#if hasError}}@if ( {{{error}}} ) {<span class="loom-error">\{{ {{{error}}} }}</span>}{{/if}}</div>
