<KeyValueRow label="{{label}}">
{{#each voFields}}          <Typography variant="body2"><Typography component="span" color="text.secondary">{{humanLabel}}: </Typography><span data-testid="{{testId}}">{String({{{valueExpr}}})}</span></Typography>
{{/each}}        </KeyValueRow>