<v-card variant="tonal" class="pa-4" data-testid="{{testId}}">
          <div class="text-subtitle-2 mb-2">{{label}}</div>
          <div class="d-flex flex-column ga-3">
            {{{innerHtml}}}
          </div>
        </v-card>

